.App {
  text-align: center;
  font-family: Noto Sans JP, Cambria, Cochin, Georgia, Times, 'Times New Roman';
}
.title{
  text-align: center;
  font-weight: 500;
  font-family: Noto Sans JP, Cambria, Cochin, Georgia, Times, 'Times New Roman';
}

body{
  background: linear-gradient(
    to left,
    rgba(7,27,82,1) 0%,
    rgba(0,128,128,1) 100%
  );
  color: white;
}

